# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.SocialNetwork.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Sei\Desktop\Code\SocialNetwork-1\.idea\.idea.SocialNetwork\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
